<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="database" xsi:type="Database"
				connectionString="Server=localhost;Database=mydb;Uid=root;Pwd=12341;"
				commandText="INSERT INTO Logs (LogLevel, Message, CreatedAt) VALUES (@level, @message, @createdAt)">
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@createdAt" layout="${date}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>
